/.vs/NeuralNetworkMakerSolution/v15/*.suo
/.vs/NeuralNetworkMakerSolution/v15/Server/sqlite3/*.lock
/.vs/NeuralNetworkMakerSolution/v15/Server/sqlite3/*.ide
/.vs/NeuralNetworkMakerSolution/v15/Server/sqlite3/*.ide-shm
/.vs/NeuralNetworkMakerSolution/v15/Server/sqlite3/*.ide-wal
/NeuralNetworkMaker/bin/Debug/Alea.IL.dll
/NeuralNetworkMaker/bin/Debug/Alea.Parallel.dll
/NeuralNetworkMaker/bin/Debug/Alea.dll
/NeuralNetworkMaker/bin/Debug/Alea.xml
/NeuralNetworkMaker/bin/Debug/DatasetBuilder.dll
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.Model.dll
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.Model.pdb
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.NET.dll
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.NET.dll.config
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.NET.xml
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.Visualizer.dll
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.Visualizer.pdb
/NeuralNetworkMaker/bin/Debug/NeuralNetworkMaker.exe
/NeuralNetworkMaker/bin/Debug/NeuralNetworkMaker.exe.config
/NeuralNetworkMaker/bin/Debug/NeuralNetworkMaker.pdb
/NeuralNetworkMaker/obj/Debug/*.cache
/NeuralNetworkMaker/obj/Debug/*.resources
/NeuralNetworkMaker/obj/Debug/*.txt
/NeuralNetworkMaker/obj/Debug/*.exe
/NeuralNetworkMaker/obj/Debug/*.pdb
/NeuralNetworkMaker/obj/Debug/*.CopyComplete
/NeuralNetworkMaker/obj/Debug/TempPE/*.dll
/NeuralNetworkMaker/obj/Debug/*.cs
/.vs/NeuralNetworkMakerSolution/DesignTimeBuild/*.dtbcache
/.vs/NeuralNetworkMakerSolution/v16/*.suo
/.vs/NeuralNetworkMakerSolution/v16/Server/sqlite3/*.lock
/.vs/NeuralNetworkMakerSolution/v16/Server/sqlite3/*.ide
/NeuralNetworkMaker/bin/Debug/*.dll
/NeuralNetworkMaker/obj/Debug/*.config
/.vs/NeuralNetworkMakerSolution/v16/Server/sqlite3/*.ide-shm
/.vs/NeuralNetworkMakerSolution/v16/Server/sqlite3/*.ide-wal
/NeuralNetworkMaker/bin/Release/*.dll
/NeuralNetworkMaker/bin/Release/*.xml
/NeuralNetworkMaker/bin/Release/*.config
/NeuralNetworkMaker/bin/Release/*.exe
/NeuralNetworkMaker/bin/Release/*.pdb
/NeuralNetworkMaker/obj/Release/*.resources
/NeuralNetworkMaker/obj/Release/*.CopyComplete
/NeuralNetworkMaker/obj/Release/*.cache
/NeuralNetworkMaker/obj/Release/*.txt
/NeuralNetworkMaker/obj/Release/*.exe
/NeuralNetworkMaker/obj/Release/*.config
/NeuralNetworkMaker/obj/Release/*.pdb
/NeuralNetworkMaker/obj/Release/TempPE/*.dll
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/*.p7s
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/*.rtf
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/*.nupkg
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/build/*.props
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/documentation/*.md
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/documentation/*.sarif
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/AllRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/AllRulesDisabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/AllRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/DataflowRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/DataflowRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/DesignRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/DesignRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/DocumentationRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/DocumentationRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/GlobalizationRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/GlobalizationRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/InteroperabilityRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/InteroperabilityRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/MaintainabilityRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/MaintainabilityRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/NamingRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/NamingRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/PerformanceRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/PerformanceRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/PortedFromFxCopRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/PortedFromFxCopRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/ReliabilityRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/ReliabilityRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/SecurityRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/SecurityRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/UsageRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/editorconfig/UsageRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/rulesets/*.ruleset
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/rulesets/legacy/*.ruleset
/Packages/Microsoft.CodeAnalysis.FxCopAnalyzers.2.9.6/tools/*.ps1
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/*.p7s
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/*.rtf
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/*.nupkg
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/cs/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/de/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/es/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/fr/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/it/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/ja/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/ko/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/pl/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/pt-BR/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/ru/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/tr/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/zh-Hans/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/analyzers/dotnet/zh-Hant/*.dll
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/build/*.props
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/documentation/*.md
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/documentation/*.sarif
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/AllRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/AllRulesDisabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/AllRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/DataflowRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/DataflowRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/PortedFromFxCopRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/PortedFromFxCopRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/ReliabilityRulesDefault/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/editorconfig/ReliabilityRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/rulesets/*.ruleset
/Packages/Microsoft.CodeAnalysis.VersionCheckAnalyzer.2.9.6/tools/*.ps1
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/*.p7s
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/*.rtf
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/*.nupkg
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/cs/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/de/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/es/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/fr/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/it/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/ja/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/ko/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/pl/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/pt-BR/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/ru/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/tr/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/zh-Hans/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/cs/zh-Hant/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/cs/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/de/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/es/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/fr/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/it/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/ja/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/ko/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/pl/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/pt-BR/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/ru/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/tr/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/zh-Hans/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/analyzers/dotnet/vb/zh-Hant/*.dll
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/build/*.props
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/documentation/*.md
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/documentation/*.sarif
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/AllRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/AllRulesDisabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/AllRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/DataflowRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/DataflowRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/DesignRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/DesignRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/DocumentationRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/DocumentationRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/MaintainabilityRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/MaintainabilityRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/NamingRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/NamingRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/PerformanceRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/PerformanceRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/PortedFromFxCopRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/PortedFromFxCopRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/ReliabilityRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/ReliabilityRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/SecurityRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/SecurityRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/UsageRulesDefault/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/editorconfig/UsageRulesEnabled/*.editorconfig
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/rulesets/*.ruleset
/Packages/Microsoft.CodeQuality.Analyzers.2.9.6/tools/*.ps1
/Packages/Microsoft.NetCore.Analyzers.2.9.6/*.p7s
/Packages/Microsoft.NetCore.Analyzers.2.9.6/*.rtf
/Packages/Microsoft.NetCore.Analyzers.2.9.6/*.nupkg
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/cs/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/de/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/es/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/fr/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/it/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/ja/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/ko/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/pl/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/pt-BR/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/ru/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/tr/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/zh-Hans/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/cs/zh-Hant/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/cs/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/de/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/es/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/fr/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/it/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/ja/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/ko/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/pl/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/pt-BR/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/ru/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/tr/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/zh-Hans/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/analyzers/dotnet/vb/zh-Hant/*.dll
/Packages/Microsoft.NetCore.Analyzers.2.9.6/build/*.props
/Packages/Microsoft.NetCore.Analyzers.2.9.6/documentation/*.md
/Packages/Microsoft.NetCore.Analyzers.2.9.6/documentation/*.sarif
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/AllRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/AllRulesDisabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/AllRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/DataflowRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/DataflowRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/GlobalizationRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/GlobalizationRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/InteroperabilityRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/InteroperabilityRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/PerformanceRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/PerformanceRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/PortedFromFxCopRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/PortedFromFxCopRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/ReliabilityRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/ReliabilityRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/SecurityRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/SecurityRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/UsageRulesDefault/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/editorconfig/UsageRulesEnabled/*.editorconfig
/Packages/Microsoft.NetCore.Analyzers.2.9.6/rulesets/*.ruleset
/Packages/Microsoft.NetCore.Analyzers.2.9.6/tools/*.ps1
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/*.p7s
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/*.rtf
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/*.nupkg
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/cs/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/de/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/es/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/fr/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/it/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/ja/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/ko/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/pl/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/pt-BR/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/ru/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/tr/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/zh-Hans/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/cs/zh-Hant/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/cs/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/de/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/es/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/fr/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/it/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/ja/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/ko/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/pl/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/pt-BR/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/ru/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/tr/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/zh-Hans/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/analyzers/dotnet/vb/zh-Hant/*.dll
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/build/*.props
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/documentation/*.md
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/documentation/*.sarif
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/AllRulesDefault/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/AllRulesDisabled/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/AllRulesEnabled/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/DataflowRulesDefault/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/DataflowRulesEnabled/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/DesignRulesDefault/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/DesignRulesEnabled/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/PortedFromFxCopRulesDefault/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/PortedFromFxCopRulesEnabled/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/SecurityRulesDefault/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/editorconfig/SecurityRulesEnabled/*.editorconfig
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/rulesets/*.ruleset
/Packages/Microsoft.NetFramework.Analyzers.2.9.6/tools/*.ps1
/NeuralNetworkMaker/bin/Debug/*.pdb
/NeuralNetworkMaker/obj/Release/*.cs
/NeuralNetworkMaker/obj/Release/*.force
/NeuralNetworkMaker/*.user
