/.vs/NeuralNetworkMakerSolution/v15/*.suo
/.vs/NeuralNetworkMakerSolution/v15/Server/sqlite3/*.lock
/.vs/NeuralNetworkMakerSolution/v15/Server/sqlite3/*.ide
/.vs/NeuralNetworkMakerSolution/v15/Server/sqlite3/*.ide-shm
/.vs/NeuralNetworkMakerSolution/v15/Server/sqlite3/*.ide-wal
/NeuralNetworkMaker/bin/Debug/Alea.IL.dll
/NeuralNetworkMaker/bin/Debug/Alea.Parallel.dll
/NeuralNetworkMaker/bin/Debug/Alea.dll
/NeuralNetworkMaker/bin/Debug/Alea.xml
/NeuralNetworkMaker/bin/Debug/DatasetBuilder.dll
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.Model.dll
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.Model.pdb
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.NET.dll
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.NET.dll.config
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.NET.xml
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.Visualizer.dll
/NeuralNetworkMaker/bin/Debug/NeuralNetwork.Visualizer.pdb
/NeuralNetworkMaker/bin/Debug/NeuralNetworkMaker.exe
/NeuralNetworkMaker/bin/Debug/NeuralNetworkMaker.exe.config
/NeuralNetworkMaker/bin/Debug/NeuralNetworkMaker.pdb
/NeuralNetworkMaker/obj/Debug/*.cache
/NeuralNetworkMaker/obj/Debug/*.resources
/NeuralNetworkMaker/obj/Debug/*.txt
/NeuralNetworkMaker/obj/Debug/*.exe
/NeuralNetworkMaker/obj/Debug/*.pdb
/NeuralNetworkMaker/obj/Debug/*.CopyComplete
/NeuralNetworkMaker/obj/Debug/TempPE/*.dll
/NeuralNetworkMaker/obj/Debug/*.cs
/.vs/NeuralNetworkMakerSolution/DesignTimeBuild/*.dtbcache
/.vs/NeuralNetworkMakerSolution/v16/*.suo
/.vs/NeuralNetworkMakerSolution/v16/Server/sqlite3/*.lock
/.vs/NeuralNetworkMakerSolution/v16/Server/sqlite3/*.ide
/NeuralNetworkMaker/bin/Debug/*.dll
/NeuralNetworkMaker/obj/Debug/*.config
